#home {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-top: 40px;
  height: 100%;
  /* background-color: red; */
  max-width: 70vw;
  gap: 5px;
  margin-inline: 15vw;
}

.home-item {
  width: 20vw;
  height: 45vh;
  background-color: rgb(203, 111, 126);
  background: linear-gradient(to bottom, rgb(110, 85, 122), #571919);
  color: black;
  font-size: 10px;
  margin: 2px;
  padding: 15px;
  border-radius: 7.5px;
  /* border: 2.5px solid black; */
  color: #fff;
}

.home-item img {
  border: 2.5px solid goldenrod;
  border-radius: 7.5px;
  margin-top: 5px;
  width: 150px;
}
