#home {
  height: 100vh;
  max-width: 100vw;
  padding-top: 80px;
  background-image: url("../assets/bg-s/index-bg.png"),
    linear-gradient(to right, rgb(117, 159, 117), rgb(188, 171, 147));
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.home-title {
  font-family: "Comme", cursive;
  color: green;
  padding-bottom: 15px;
}

.desc-container {
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 45vw;
}

hr {
  height: 1px;
  background-color: grey;
}

.juice-desc {
  border-radius: 5px;
  position: inherit;
  top: 100px;
  font-family: "Caveat", cursive;
  color: green;
  font-size: 0.9rem;
  padding-top: 25px;
}
