#juices {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 75vh;
  overflow: scroll;
  max-width: 70vw;
  gap: 5px;
  margin-inline: 15vw;
  gap: 5px;
}

/* Style the scrollbar itself (width, background) */
#home::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* Style the scrollbar handle */
#home::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 15px;
}

#home::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.658);
}

.juice-item {
  width: 200px;
  height: 250px;
  font-size: 7.5px;
  margin: 2px;
  padding: 15px;
  border-radius: 7.5px;
  color: #000;
  background-image: url("../assets/bg-s/home-item.png");
  background-size: cover;
  background-position: 15px;
  background-blend-mode: luminosity;
  position: relative;
  border: 2px solid #fff;
  z-index: 1;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0; /* Adjust to cover half the image */
  width: 35%; /* This covers the remaining half */
  height: 100%;
  background-color: white;
  border-radius: 5px 0 0 5px;
  border-right: 2px solid white;
  z-index: 1;
}

.juice-item img {
  z-index: 5;
  position: absolute;
  top: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-block: 12.5px;
  max-width: 15vw;
  max-width: 60%;
  transition: all 0.35s ease-in-out;
  left: 10px;
  /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); */
}

.juice-item img:hover {
  scale: 1.3;
  /* border: none; */
}

.juice-item h2 {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 2.5px 7.5px;
  border-radius: 15px 0 0 7.5px;
  z-index: 3;
  color: white;
  overflow: hidden;
}

.juice-p {
  position: absolute;
  z-index: 2;
  bottom: 2px;
  left: 2px;
  border-radius: 0 100% 0 0;
}

.juice-p p {
  margin-top: 5px;
  font-family: "Ubuntu", sans-serif;
}

/* .button {
  cursor: pointer;
}
.button:hover {
  background-color: chartreuse;
} */
