#juices {
  display: flex;
  flex-direction: column;
  background-blend-mode: hard-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../assets/bg-s/juices-bg4.png"),
    linear-gradient(to right, rgba(0, 255, 0, 0.466), rgb(73, 119, 73));
  background-blend-mode: lighten;
}
.fruit-container {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}

.juice-item-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid green;
  padding: 70px 70px 70px 0;
  margin-inline: 3vw;
  gap: 15px;
  height: 75vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-width: 70vw;
}

.juice-item-container::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

.juice-item-container::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 15px;
}

.juice-item-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.658);
}

.juice-item {
  width: 20vw;
  height: 40vh;
  font-size: 7.5px;
  margin-inline-start: 25px;
  border-radius: 7.5px;
  color: #000;
  background-image: url("../assets/bg-s/home-item.png");
  background-size: cover;
  background-position: 15px;
  background-blend-mode: luminosity;
  border: 2px solid #fff;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 7px 1px rgb(255, 255, 255, 0.8);
}

.shopping-cart-icon {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  cursor: pointer;
  right: 1.5px;
  bottom: 0;
  font-size: 15px;
  position: absolute;
}

.favorite-icon {
  transition: all 0.5s ease-in-out;
  bottom: 0;
  right: 17.5px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  font-size: 15px;
}

.info-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.juice-item:hover .shopping-cart-icon,
.shopping-cart-icon.filled,
.favorite-icon.filled,
.juice-item:hover .favorite-icon,
.info-icon {
  opacity: 1;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 39%;
  height: 100%;
  background-color: white;
  border-radius: 5px 0 0 5px;
  border-right: 2px solid white;
  z-index: 1;
}

.juice-item img {
  z-index: 5;
  position: absolute;
  top: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-block: 12.5px;
  max-width: 15vw;
  max-width: 60%;
  transition: all 0.3s ease-in-out;
  left: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.juice-item img:hover {
  scale: 1.1;
}

.juice-item h2 {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 2.5px 7.5px;
  border-radius: 15px 0 0 7.5px;
  z-index: 3;
  color: white;
  overflow: hidden;
  font-family: "Comme", cursive;
}

.juice-p {
  position: inherit;
  z-index: 2;
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 0;
  font-size: 0.6rem;
}

.juice-p p {
  margin-top: 0;
  font-family: "Space Grotesk", sans-serif;
  padding: 2px 5px;
  color: black;
}

#juice-title {
  color: white;
  background-color: black;
}

.hr-price {
  /* width: 100%;
  border: 1px solid #fff; */
}
.hr-fruits {
  width: 100%;
  border: 1px solid #fff;
}
.hr-desc {
  width: 100%;
  border: 1px solid #fff;
}
