#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #808080;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  gap: 35px;
  position: fixed;
  background-image: url("../assets/bg-s/bg.jpg"),
    linear-gradient(to right, magenta, white, green);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.nav-link-container {
  display: flex;
  gap: 35px;
}

.juice-icon {
  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 50%;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
}

.navbar-link-item {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  padding: 3px 5px;
  transition: all 0.2s ease-in-out;
}

.navbar-link-item:hover {
  background-color: #fff;
  color: black;
  border-radius: 5px 5px 5px 0;
}
.search {
  padding: 5px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.4);
}

.search-container:hover .search {
  border-radius: 0 50% 50% 0;
}

.search-input {
  padding: 12.5px 0;
  border: none;
  border-radius: 15px 0 0 15px;
  background-color: rgba(255, 255, 255, 0.4);
}
.search-container {
  display: flex;
  justify-content: center;
  height: 25px;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 35px;
  transition: all 0.3s ease-in-out;
}

.search-focused {
  border-radius: 0 50% 50% 0;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  display: none;
}

.search-container:hover .search-input,
.search-input:focus {
  display: block;
}

.navbar-link-item-container {
  position: inherit;
}

.navbar-link-item-container:hover .hover-div {
  display: block;
}
.home-link:hover .hover-div {
  display: none;
}

.home-link:hover {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

.bag-container {
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.icon-heart,
.icon-plus {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-heart:hover,
.icon-plus:hover {
  color: black;
  background-color: transparent;
}

.hover-div {
  display: none;
  position: absolute;
  max-width: 100px;
  max-height: 150px;
  background-color: lightgray;
  border-radius: 0 5px 5px 5px;
  border: 2px solid #fff;
  z-index: 10;
  top: 50px;
  margin-left: -5.2px;
  padding: 5px 5px 5px 2.5px;
  background-color: gray;
}

.list-item {
  padding-block: 3px;
  color: white;
  font-size: 12.5px;
  padding-inline: 5px;
  transition: all 0.1s ease-in-out;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
}

hr {
  border: none;
  margin: 1px;
  width: 90%;
}

/* Initially hide the hamburger menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu div {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

/* Hide navbar links on small screens */
@media (max-width: 500px) {
  .nav-link-container {
    display: none;
    position: absolute;
    width: 50%;
    top: 100%;
    right: 0;
  }

  .hamburger-menu {
    display: block;
  }

  /* Show navbar links when hamburger is hovered */
  .nav-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  /* Styling changes for navbar links on small screens */
  .navbar-link-item {
    padding: 10px;
    width: 100%;
    text-align: left;
  }
}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: red;
  z-index: 10;
}
