#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #808080;
  padding: 20px;
}

.nav-link-container {
  display: flex;
  justify-content: space-evenly;
}

.navbar-link-item {
  font-family: "Exo", sans-serif;
  font-weight: 500;
}
