.nav-link-container {
  display: flex;
  justify-content: space-between;
  background-color: #808080;
  /* padding: 25px; */
}

.navbar-link-item {
  border-right: 1px solid white;
  padding: 25px 50px;
  border-left: 1px solid white;
  margin-inline: 25px;
}
