* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Exo 2", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
body {
  height: 100%;
  width: 100vw;
  background-color: rgba(3, 94, 58, 0.737);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Iceland", sans-serif;
  font-weight: bold;
  color: peachpuff;
}
