* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}
body {
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  font-weight: bold;
}

@media screen and (max-width: 380px) {
  body {
    width: 105%;
  }
}
