#contact {
  height: 110vh;
  width: 100%;
  background-image: url('./assets/bg-s/contacat-bg.png'),
    linear-gradient(to right, #9a1cc1, rgb(44, 127, 222));
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons {
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
}
.icons:hover {
  color: green;
  scale: 1.1;
}
@media screen and (max-width: 500px) {
  #contact {
    background-image: url('../src/assets/bg-s/contacat-bg2.png'),
      linear-gradient(to right, #9a1cc1, rgb(44, 127, 222));
  }
}
