#contact {
  height: 100vh;
  max-width: 100vw;
  background-image: url("../src/assets/bg-s/contacat-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
