#contact {
  height: 110vh;
  max-width: 100vw;
  background-image: url("../src/assets/bg-s/contacat-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons {
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
}
.icons:hover {
  color: green;
  scale: 1.1;
}
@media screen and (max-width: 500px) {
  #contact {
    background-image: url("../src/assets/bg-s/contacat-bg2.png");
  }
}
